@font-face {
    font-family: 'Cascadia';
    src: url('../fonts/CascadiaCodePL.ttf') format('truetype'),
    	 url('../fonts/CascadiaCodePL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family:'Cascadia';
    height:100%;
    font-size:larger;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:#CCFFFF;
    background: linear-gradient(0deg, rgba(204,255,255,1) 15%, rgba(255,204,255,1) 100%)    fixed;
    color:black;    
}

code{
    font-family:'Cascadia';
}

a   {
    font-family:'Cascadia';
    color:dimgray;
    text-decoration:none;
    outline:0;
}
a:hover {
    text-decoration:underline;
}
